.short-div{
    display: flex;
    margin-left: 20%;
    margin-top: 7%;
    width: 400px;
    height: 90px;
    font-family: 'Montserrat', sans-serif;
}

.p-img{
    flex: 3;
    background-image: url("https://images.pexels.com/photos/763097/pexels-photo-763097.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-position: bottom;
    width: 80px;
    height: 80px;
}

.p-des{
    flex: 6;
    margin-left: 25px;
    font-size: 18px;
}

.smallU{
    font-size: 12px;
    margin-top: 10px;
}

.num{
    flex: 3;
    font-size: 30px;
    margin-left: 15%;
}