.sidebar{
    flex:5;
}

.ad{
    margin-top: 15%;
    margin-left: 20%;
    border: 2px solid black;
    width: 350px;
    height: 500px;
}

.mid{
    margin-top: 75%;
    margin-left: 25%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}